.dot circle {
    fill: #2381b3;
    opacity: 0.8;
}

.dot text {
    text-anchor: end;
    font-size: 20px;
    pointer-events: none;
    alignment-baseline: middle;
    fill: #555;
}
.dot text {
    opacity: 0;
}

.dot:hover text {
    opacity: 1;
}

.dot:hover circle {
    opacity: 1;
    fill: orange;
    outline: 3px;
}
body {
    font-family: "Open Sans";
    margin: 0;
}

label {
    font-size: 13px;
}

#main {
    margin: 20px;
}