html {
    background-color: white;            
    margin: 0;
    padding: 0;
}

.dot circle {
    fill: #2381b3;
    opacity: 0.8;
}

.dot text {
    text-anchor: end;
    font-size: 15px;
    pointer-events: none;
    alignment-baseline: middle;
    fill: rgb(0, 0, 0);
}
.dot text {
    opacity: 0;
}

.dot:hover text {
    opacity: 1;
}

.dot:hover circle {
    opacity: 1;
    fill: orange;
    outline: 3px;
}

.xaxis text{
    fill: #0000ff;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

label {
    font-size: 13px;
}

#main {
    margin: 20px;
}

.bar {
    fill: steelblue;
}

.bar2 {
    fill: orange;
}

h2.title{
    margin-bottom: 15px;
    font-family: Helvetica;
    text-align: center;
    padding: 0;
}   


/*Desktop View*/
@media (min-width: 992px) {
    .graph{ 
        float: left;    
        border: 2px solid black;         
        background-color: white;   
        height: auto;
        width: auto;
        overflow: hidden;
        padding: 2%;
    }
    #xAxis{
        text-align: center;
        font-size: 20px;
        font: bolder;
    }
    #returnButton {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }  
    svg#svgGraph
    {
        width: 1300px !important;
    }   
}

/*tablet View*/
@media (min-width: 768px) and (max-width: 991px){
    .graph{
        float: left;    
        border: 2px solid black;         
        background-color: grey;   
        height: auto;
        width: auto;
        overflow: hidden;
        padding: 5%;
    }
}

/*Mobile View*/
@media (max-width: 767px) {
    .graph{
        float: left;    
        border: 2px solid black;         
        background-color: grey;
        height: auto; 
        width: auto;
        overflow: hidden;
        padding: 5%;
    }
}